img {
  width: 100%;
}

nav ul li {
  max-width: 350px;
}

ul {
  list-style: none;
}

nav ul li span {
  display: block;
  padding: 8px;
  border: 2px solid rgb(221, 221, 224);
  background-color: rgb(224, 219, 219);
  margin-bottom: 10px;
}
.topnav {
  overflow: hidden;
  background-color: #ebe0e0;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid rgb(255, 138, 60);
}

.topnav a.active {
  border-bottom: 3px solid red;
}
